*.json
*.jsonl
!tag_bank_term.json
!tag_bank_ipa.json
!parts_of_speech.json
!multiword_inflections.json
!tag_styles.json
!tag_order.json
!languages.json
!package*.json
!data/test/kaikki/*.json
!data/test/tidy/*.json
!data/test/dict/**/*.json
!data/test/ipa/**/*.json

*.zip
data/**/*.css

*.txt
!instructions.txt

*.png

.env

__pycache__
node_modules