div[data-sc-content="tags"] span {
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.2em 0.3em;
    word-break: keep-all;
    border-radius: 0.3em;
    vertical-align: text-bottom;
    background-color: #565656;
    color: white;
    cursor: help;
    margin-right: 0.25em;
}
div[data-sc-content="extra-info"] {
    margin-left: 0.5em;
}
div[data-sc-content="example-sentence"] {
    background-color: color-mix(in srgb, var(--text-color, var(--fg, #333)) 5%, transparent);
    border-color: var(--text-color, var(--fg, #333));
    border-style: none none none solid;
    border-radius: 0.4rem;
    border-width: calc(3em / var(--font-size-no-units, 14));
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.1rem 0.5rem;
}
div[data-sc-content="example-sentence-a"] {
    font-size: 1.1em;
    font-style: italic;
}
div[data-sc-content="example-sentence-b"] {
    font-size: 0.8em;
}
details[data-sc-content^="details-entry"] {
    padding-left: 0;
}
summary[data-sc-content="summary-entry"] {
    user-select: none;
    width: max-content;
    padding: 0.1em 0.2em;
}
ol[data-sc-content="glosses"] {
    list-style-type: upper-roman;
}
[data-sc-content="summary-entry"]::marker {
    color: var(--checkbox-disabled-color);
}
summary[data-sc-content="summary-entry"] {
    list-style-position: inside;
    color: var(--text-color-light4);
}
details[data-sc-content^="details-entry-Grammar"] summary[data-sc-content="summary-entry"],
details[data-sc-content^="details-entry-Etymology"] summary[data-sc-content="summary-entry"],
details[data-sc-content^="details-entry-Morphemes"] summary[data-sc-content="summary-entry"] {
    font-weight: bold;
}

details[data-sc-content^="details-entry"][open=""] summary[data-sc-content="summary-entry"] {
    color: var(--text-color);
}
details[data-sc-content^="details-entry"][open=""] summary[data-sc-content="summary-entry"]::marker {
    color: var(--text-color);
}
summary[data-sc-content="summary-entry"]:hover {
    border-radius: 0.4em;
    background-color: var(--notification-background-color-lighter);
    cursor: pointer;
    color: var(--text-color);
}
summary[data-sc-content="summary-entry"] ~ div {
    margin: 0.5em 0;
}