div[data-sc-content="extra-info"] {
    margin-left: 0.5em;
}
div[data-sc-content="example-sentence"] {
    background-color: color-mix(in srgb, var(--text-color, var(--fg, #333)) 5%, transparent);
    border-color: var(--text-color, var(--fg, #333));
    border-style: none none none solid;
    border-radius: 0.4rem;
    border-width: calc(3em / var(--font-size-no-units, 14));
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.1rem 0.5rem;
}
div[data-sc-content="example-sentence-a"] {
    font-size: 1.1em;
    font-style: italic;
}
div[data-sc-content="example-sentence-b"] {
    font-size: 0.8em;
}
div[data-sc-content="details-section"] {
    margin: 0.25em 0;
}
details[data-sc-content^="details-entry"] {
    padding-left: 0;
}
summary[data-sc-content="summary-entry"] {
    user-select: none;
    width: max-content;
}
ul.gloss-list[data-count="1"] summary[data-sc-content="summary-entry"] {
    list-style-position: inside;
}
summary[data-sc-content="summary-entry"]::marker {
    color: var(--checkbox-disabled-color);
}
summary[data-sc-content="summary-entry"] {
    color: var(--text-color-light4);
}
details[data-sc-content^="details-entry"][open=""] summary[data-sc-content="summary-entry"] {
    color: var(--text-color);
}
summary[data-sc-content="summary-entry"]:hover {
    cursor: pointer;
}
summary[data-sc-content="summary-entry"] ~ div {
    margin: 0.5em 0;
}